= form_for @minesweeper_board do |f|
  .container
    .row.justify-content-center
      .col-10
        - if @minesweeper_board.errors.any?
          %ul.text-danger
            - @minesweeper_board.errors.full_messages.each do |message|
              %li= message
        .row.align-items-center
          .col
            = f.text_field :name, class: "form-control", placeholder: "Board Name"
        .row.align-items-center.mt-4
          .col
            = f.text_field :email, type: :email, class: "form-control", placeholder: "Email"
        .row.align-items-center.mt-4
          .col
            = f.number_field :height, class: "form-control", placeholder: "Height"
          .col
            = f.number_field :width, class: "form-control", placeholder: "Width"
          .col
            = f.number_field :mines, class: "form-control", placeholder: "Mines"
        = f.submit "Generate board", class: "btn btn-primary mt-4 w-100", role: "button"

